secure/schemas/rspec/2.0/V5_report.dtd

<!--
  Licensed Materials - Property of IBM
  IBM Cognos Products: rspec
  (C) Copyright IBM Corp. 2003, 2014
  US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->

<!ELEMENT modelPath (#PCDATA)>
<!ELEMENT sortList (sortItem)+>
<!ELEMENT sortItem EMPTY>
<!ATTLIST sortItem
	refDataItem CDATA #REQUIRED
	sortOrder (ascending | descending) "ascending"
>
<!ELEMENT format EMPTY>
<!ATTLIST format
	pattern CDATA #IMPLIED
	whenMissing CDATA #IMPLIED
	whenSecurityError CDATA #IMPLIED
	whenNotApplicable CDATA #IMPLIED
	whenAnyError CDATA #IMPLIED
>
<!ELEMENT stringFormat EMPTY>
<!ATTLIST stringFormat
	pattern CDATA #IMPLIED
	whenMissing CDATA #IMPLIED
	whenSecurityError CDATA #IMPLIED
	whenNotApplicable CDATA #IMPLIED
	whenAnyError CDATA #IMPLIED
>
<!ELEMENT dateFormat EMPTY>
<!ATTLIST dateFormat
	whenZero CDATA #IMPLIED
	pattern CDATA #IMPLIED
	whenMissing CDATA #IMPLIED
	whenSecurityError CDATA #IMPLIED
	whenNotApplicable CDATA #IMPLIED
	whenAnyError CDATA #IMPLIED
	showYears (false | true | hideCentury | showCentury) #IMPLIED
	showMonths (false | true | 1-digit | 2-digits | shortName | fullName) #IMPLIED
	dateSeparator CDATA #IMPLIED
	dateStyle (short | medium | long | full) #IMPLIED
	displayOrder (YMD | MDY | DMY) #IMPLIED
	showDays (false | true | 1-digit | 2-digits | Julian) #IMPLIED
	showWeekday (false | true | shortName | fullName) #IMPLIED
	showEra  (true | false) #IMPLIED
	calendar (Gregorian | Imperial) #IMPLIED
>
<!ELEMENT timeFormat EMPTY>
<!ATTLIST timeFormat
	whenZero CDATA #IMPLIED
	pattern CDATA #IMPLIED
	whenMissing CDATA #IMPLIED
	whenSecurityError CDATA #IMPLIED
	whenNotApplicable CDATA #IMPLIED
	whenAnyError CDATA #IMPLIED
	timeStyle (short | long | full) #IMPLIED
	showAmPm  (true | false) #IMPLIED
	showTimeZone  (true | false) #IMPLIED
	clock (12-hour | 24-hour) #IMPLIED
	decimalDelimiter CDATA #IMPLIED
	showHours (false | true | 1-digit | 2-digits) #IMPLIED
	showMinutes (false | true | 1-digit | 2-digits) #IMPLIED
	showSeconds (false | true | 1-digit | 2-digits) #IMPLIED
	showMilliseconds (false | true | 1-digit | 2-digits | 3-digits) #IMPLIED
	timeSeparator CDATA #IMPLIED
>
<!ELEMENT dateTimeFormat EMPTY>
<!ATTLIST dateTimeFormat
	whenZero CDATA #IMPLIED
	pattern CDATA #IMPLIED
	whenMissing CDATA #IMPLIED
	whenSecurityError CDATA #IMPLIED
	whenNotApplicable CDATA #IMPLIED
	whenAnyError CDATA #IMPLIED
	showYears (false | true | hideCentury | showCentury) #IMPLIED
	showMonths (false | true | 1-digit | 2-digits | shortName | fullName) #IMPLIED
	dateSeparator CDATA #IMPLIED
	dateStyle (short | medium | long | full) #IMPLIED
	displayOrder (YMD | MDY | DMY) #IMPLIED
	showDays (false | true | 1-digit | 2-digits | Julian) #IMPLIED
	showWeekday (false | true | shortName | fullName) #IMPLIED
	showEra  (true | false) #IMPLIED
	calendar (Gregorian | Imperial) #IMPLIED
	timeStyle (short | long | full) #IMPLIED
	showAmPm  (true | false) #IMPLIED
	showTimeZone  (true | false) #IMPLIED
	clock (12-hour | 24-hour) #IMPLIED
	decimalDelimiter CDATA #IMPLIED
	showHours (false | true | 1-digit | 2-digits) #IMPLIED
	showMinutes (false | true | 1-digit | 2-digits) #IMPLIED
	showSeconds (false | true | 1-digit | 2-digits) #IMPLIED
	showMilliseconds (false | true | 1-digit | 2-digits | 3-digits) #IMPLIED
	timeSeparator CDATA #IMPLIED
>
<!ELEMENT intervalFormat EMPTY>
<!ATTLIST intervalFormat
	units (time | days | hours | minutes | seconds | milliseconds) #IMPLIED
	showDays (false | true | 1-digit | 2-digits | Julian) #IMPLIED
	showYears  (true | false) #IMPLIED
	showMonths  (true | false) #IMPLIED
	dateSeparator CDATA #IMPLIED
	pattern CDATA #IMPLIED
	whenMissing CDATA #IMPLIED
	whenSecurityError CDATA #IMPLIED
	whenNotApplicable CDATA #IMPLIED
	whenAnyError CDATA #IMPLIED
	showHours (false | true | 1-digit | 2-digits) #IMPLIED
	showMinutes (false | true | 1-digit | 2-digits) #IMPLIED
	showSeconds (false | true | 1-digit | 2-digits) #IMPLIED
	showMilliseconds (false | true | 1-digit | 2-digits | 3-digits) #IMPLIED
	timeSeparator CDATA #IMPLIED
	decimalSize CDATA #IMPLIED
	decimalDelimiter CDATA #IMPLIED
	sign CDATA #IMPLIED
	useTrailingSign  (true | false) #IMPLIED
	maxDigits CDATA #IMPLIED
	minDigits CDATA #IMPLIED
	paddingCharacter CDATA #IMPLIED
	scale CDATA #IMPLIED
	useGrouping  (true | false) #IMPLIED
	groupDelimiter CDATA #IMPLIED
	groupSize CDATA #IMPLIED
	groupSecondarySize CDATA #IMPLIED
	whenNegative CDATA #IMPLIED
	whenZero CDATA #IMPLIED
	whenDivideZero CDATA #IMPLIED
	whenNumericOverflow CDATA #IMPLIED
>
<!ELEMENT numberFormat EMPTY>
<!ATTLIST numberFormat
	useScientific  (true | false) #IMPLIED
	exponentSize CDATA #IMPLIED
	exponentSymbol CDATA #IMPLIED
	pattern CDATA #IMPLIED
	whenMissing CDATA #IMPLIED
	whenSecurityError CDATA #IMPLIED
	whenNotApplicable CDATA #IMPLIED
	whenAnyError CDATA #IMPLIED
	decimalSize CDATA #IMPLIED
	decimalDelimiter CDATA #IMPLIED
	sign CDATA #IMPLIED
	useTrailingSign  (true | false) #IMPLIED
	maxDigits CDATA #IMPLIED
	minDigits CDATA #IMPLIED
	paddingCharacter CDATA #IMPLIED
	scale CDATA #IMPLIED
	useGrouping  (true | false) #IMPLIED
	groupDelimiter CDATA #IMPLIED
	groupSize CDATA #IMPLIED
	groupSecondarySize CDATA #IMPLIED
	whenNegative CDATA #IMPLIED
	whenZero CDATA #IMPLIED
	whenDivideZero CDATA #IMPLIED
	whenNumericOverflow CDATA #IMPLIED
>
<!ELEMENT currencyFormat EMPTY>
<!ATTLIST currencyFormat
	currencyCode CDATA #IMPLIED
	currencySymbol CDATA #IMPLIED
	intlCurrencySymbol CDATA #IMPLIED
	useIntlSymbol  (true | false) #IMPLIED
	useTrailingSymbol  (true | false) #IMPLIED
	pattern CDATA #IMPLIED
	whenMissing CDATA #IMPLIED
	whenSecurityError CDATA #IMPLIED
	whenNotApplicable CDATA #IMPLIED
	whenAnyError CDATA #IMPLIED
	decimalSize CDATA #IMPLIED
	decimalDelimiter CDATA #IMPLIED
	sign CDATA #IMPLIED
	useTrailingSign  (true | false) #IMPLIED
	maxDigits CDATA #IMPLIED
	minDigits CDATA #IMPLIED
	paddingCharacter CDATA #IMPLIED
	scale CDATA #IMPLIED
	useGrouping  (true | false) #IMPLIED
	groupDelimiter CDATA #IMPLIED
	groupSize CDATA #IMPLIED
	groupSecondarySize CDATA #IMPLIED
	whenNegative CDATA #IMPLIED
	whenZero CDATA #IMPLIED
	whenDivideZero CDATA #IMPLIED
	whenNumericOverflow CDATA #IMPLIED
>
<!ELEMENT percentFormat EMPTY>
<!ATTLIST percentFormat
	percentSymbol CDATA #IMPLIED
	percentScale CDATA #IMPLIED
	pattern CDATA #IMPLIED
	whenMissing CDATA #IMPLIED
	whenSecurityError CDATA #IMPLIED
	whenNotApplicable CDATA #IMPLIED
	whenAnyError CDATA #IMPLIED
	decimalSize CDATA #IMPLIED
	decimalDelimiter CDATA #IMPLIED
	sign CDATA #IMPLIED
	useTrailingSign  (true | false) #IMPLIED
	maxDigits CDATA #IMPLIED
	minDigits CDATA #IMPLIED
	paddingCharacter CDATA #IMPLIED
	scale CDATA #IMPLIED
	useGrouping  (true | false) #IMPLIED
	groupDelimiter CDATA #IMPLIED
	groupSize CDATA #IMPLIED
	groupSecondarySize CDATA #IMPLIED
	whenNegative CDATA #IMPLIED
	whenZero CDATA #IMPLIED
	whenDivideZero CDATA #IMPLIED
	whenNumericOverflow CDATA #IMPLIED
>
<!ELEMENT style (CSS? | dataFormat?)*>
<!ELEMENT conditionalStyles (conditionalStyleCases | conditionalStyleDefault)+>
<!ELEMENT CSS EMPTY>
<!ATTLIST CSS
	value CDATA #REQUIRED
>
<!ELEMENT dataFormat (numberFormat | percentFormat | currencyFormat | stringFormat | dateFormat | dateTimeFormat | timeFormat | intervalFormat | format)>
<!ELEMENT conditionalRender (renderFor*)>
<!ATTLIST conditionalRender
	refVariable CDATA #REQUIRED
>
<!ELEMENT XMLAttributes (XMLAttribute)+>
<!ELEMENT dataSource (staticValue | dataItemValue | reportExpression | dataItemLabel | memberCaption | cellValue)>
<!ELEMENT conditionalDataSources (conditionalDataSource+)>
<!ATTLIST conditionalDataSources
	refVariable CDATA #REQUIRED
>
<!ELEMENT reportExpression (#PCDATA)>
<!ATTLIST reportExpression
	xml:space (default | preserve) "preserve"
>
<!ELEMENT defaultMeasure EMPTY>
<!ATTLIST defaultMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT reportDrills (reportDrill+)>
<!ELEMENT masterDetailLinks (masterDetailLink*)>
<!ELEMENT reportPath (XMLAttributes?)>
<!ATTLIST reportPath
	path CDATA #REQUIRED
>
<!ELEMENT dataItemContext EMPTY>
<!ATTLIST dataItemContext
	refDataItem CDATA #REQUIRED
>
<!ELEMENT parameterContext EMPTY>
<!ATTLIST parameterContext
	parameter CDATA #REQUIRED
>
<!ELEMENT propertyList (propertyItem+)>
<!ELEMENT defaultSelections (defaultSimpleSelection | defaultRangeSelection)*>
<!ELEMENT useItem (displayItem?)>
<!ATTLIST useItem
	refDataItem CDATA #REQUIRED
>
<!ELEMENT selectOptions (selectOption+)>
<!ATTLIST selectOptions
	refVariable CDATA #IMPLIED
>
<!ELEMENT defaultSimpleSelection (#PCDATA)>
<!ELEMENT pieChart (pies? | pieSlices? | fillEffects? | notes? | chartSubTitle? | chartTitle? | chartFooter? | chartBody? | chartPalette? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | conditionalChartColors? | legend? | reportDrills? | pieLabels? | axisTitle? | defaultChartMeasure? | masterDetailLinks?)*>
<!ATTLIST pieChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	holeSize CDATA "0"
	depth CDATA "0"
	showPieLabels (none | inside | outside | outsideWithLines) "none"
	showPieValues (none | inside | outside | outsideWithLines) "none"
	showValuesAsPercent  (true | false) "false"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	avoidLabelCollision  (true | false) "false"
>
<!ELEMENT radarChart (points? | radialClusters? | radialMeasure? | numericalAxisRadial? | baselines? | chartBody? | chartFooter? | chartPalette? | chartSubTitle? | chartTitle? | fillEffects? | markers? | notes? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | conditionalChartColors? | legend? | ordinalAxis? | reportDrills? | masterDetailLinks?)*>
<!ATTLIST radarChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	useSpiderEffects  (true | false) "false"
	radarType (line | area | stackedArea) "line"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	dataPointSize CDATA "6"
	pointChartDataPointShape (series | category | circle | square | house | hexagon | pentagon | diamond | triangle | downTriangle | rightTriangle | leftTriangle | skewLeftTriangle | skewRightTriangle | downSkewLeftTriangle | downSkewRightTriangle | verticalLine | horizontalLine | plus | fatPlus | star90 | pentagram | star | skewedStar | plainX | softX | fatX | spikedX | castle) "series"
	showValues  (true | false) "false"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
>
<!ELEMENT progressiveChart (progressiveBars? | numericalAxisProgressive? | total? | firstColumnColor? | positiveColumnColor? | negativeColumnColor? | chartBody? | baselines? | chartFooter? | chartPalette? | chartSubTitle? | chartTitle? | fillEffects? | markers? | notes? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | conditionalChartColors? | ordinalAxis? | reportDrills? | connectLines? | defaultChartMeasure? | masterDetailLinks?)*>
<!ATTLIST progressiveChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	depth CDATA "0"
	visualAngle CDATA "45"
	orientation (vertical | horizontal) "vertical"
	showValues  (true | false) "false"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	rotateLabelsWithChart  (true | false) "false"
>
<!ELEMENT combinationChart (commonClusters? | combinationChartTypes? | baselines? | chartBody? | chartFooter? | chartPalette? | chartSubTitle? | chartTitle? | fillEffects? | markers? | notes? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | conditionalChartColors? | legend? | numericalAxisY1? | numericalAxisY2? | ordinalAxis? | reportDrills? | defaultChartMeasure? | masterDetailLinks?)*>
<!ATTLIST combinationChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	rotateLabelsWithChart  (true | false) "false"
	matchSeriesColor  (true | false) "false"
	depth CDATA "0"
	visualAngle CDATA "45"
	orientation (vertical | horizontal) "vertical"
	axisY2Position (dual | bipolar) "dual"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
>
<!ELEMENT paretoChart (cumulationLine? | paretoBars? | paretoBarClusters? | baselines? | notes? | markers? | chartBody? | chartFooter? | chartSubTitle? | chartTitle? | fillEffects? | chartPalette? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | conditionalChartColors? | legend? | ordinalAxis? | numericalAxisPareto? | reportDrills? | connectLines? | defaultChartMeasure? | masterDetailLinks?)*>
<!ATTLIST paretoChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	rotateLabelsWithChart  (true | false) "false"
	depth CDATA "0"
	visualAngle CDATA "45"
	orientation (vertical | horizontal) "vertical"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	showValues  (true | false) "false"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
	showAbsoluteValues  (true | false) "true"
>
<!ELEMENT scatterChart (points? | pointClusters? | chartBody? | chartFooter? | pointXMeasure? | pointYMeasure? | numericalAxisX? | numericalAxisY? | chartPalette? | chartSubTitle? | chartTitle? | fillEffects? | notes? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | legend? | reportDrills? | pointChartMarkers? | pointChartBaselines? | conditionalChartColors? | masterDetailLinks? | regressionLine?)*>
<!ATTLIST scatterChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	dataPointSize CDATA "6"
	pointChartDataPointShape (series | category | circle | square | house | hexagon | pentagon | diamond | triangle | downTriangle | rightTriangle | leftTriangle | skewLeftTriangle | skewRightTriangle | downSkewLeftTriangle | downSkewRightTriangle | verticalLine | horizontalLine | plus | fatPlus | star90 | pentagram | star | skewedStar | plainX | softX | fatX | spikedX | castle) "series"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
	showPointValues (none | valuesAndLabels | valuesOnly) "none"
	showPointValuesForPoints (none | valuesAndLabels | valuesOnly) "none"
	showPointValuesForPointClusters (none | valuesAndLabels | valuesOnly) "none"
>
<!ELEMENT bubbleChart (points? | pointClusters? | pointXMeasure? | pointYMeasure? | bubbleMeasure? | numericalAxisX? | numericalAxisY? | chartBody? | chartFooter? | chartPalette? | chartSubTitle? | chartTitle? | fillEffects? | notes? | pointChartMarkers? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | legend? | reportDrills? | pointChartBaselines? | conditionalChartColors? | masterDetailLinks? | regressionLine?)*>
<!ATTLIST bubbleChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	pointChartDataPointShape (series | category | circle | square | house | hexagon | pentagon | diamond | triangle | downTriangle | rightTriangle | leftTriangle | skewLeftTriangle | skewRightTriangle | downSkewLeftTriangle | downSkewRightTriangle | verticalLine | horizontalLine | plus | fatPlus | star90 | pentagram | star | skewedStar | plainX | softX | fatX | spikedX | castle) "series"
	showBubblePointValues (none | valuesAndLabels | valuesOnly | sizeValueAndLabel | sizeValueOnly) "none"
	showPointValuesForPoints (none | valuesAndLabels | valuesOnly) "none"
	showPointValuesForPointClusters (none | valuesAndLabels | valuesOnly) "none"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
>
<!ELEMENT polarChart (radialMeasure? | angularMeasure? | numericalAxisAngular? | numericalAxisRadial? | points? | pointClusters? | chartBody? | chartFooter? | chartPalette? | chartSubTitle? | chartTitle? | fillEffects? | pointChartMarkers? | notes? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | legend? | reportDrills? | pointChartBaselines? | conditionalChartColors? | masterDetailLinks?)*>
<!ATTLIST polarChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	useSpiderEffects  (true | false) "false"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	dataPointSize CDATA "6"
	pointChartDataPointShape (series | category | circle | square | house | hexagon | pentagon | diamond | triangle | downTriangle | rightTriangle | leftTriangle | skewLeftTriangle | skewRightTriangle | downSkewLeftTriangle | downSkewRightTriangle | verticalLine | horizontalLine | plus | fatPlus | star90 | pentagram | star | skewedStar | plainX | softX | fatX | spikedX | castle) "series"
	showPointValues (none | valuesAndLabels | valuesOnly) "none"
	showPointValuesForPoints (none | valuesAndLabels | valuesOnly) "none"
	showPointValuesForPointClusters (none | valuesAndLabels | valuesOnly) "none"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
>
<!ELEMENT threeDCombinationChart (commonClusters? | threeDCombinationChartTypes? | chartTitle? | chartSubTitle? | fillEffects? | chartBody? | chartFooter? | chartPalette? | notes? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | conditionalChartColors? | reportDrills? | numericalAxis? | threeDComboBaselines? | ordinalAxisX? | ordinalAxisY? | defaultChartMeasure? | masterDetailLinks?)*>
<!ATTLIST threeDCombinationChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	threeDViewingAngle (standard | thickStandard | lowThin | near1x3 | tallFar | groupView | nearView | seriesView | groupStretch | seriesStretch | birdsEye | lowHigh | lowLow | tallDistortion | lowDistort | isometric) "standard"
	matchSeriesColor  (true | false) "false"
>
<!ELEMENT threeDScatterChart (points? | pointClusters? | pointXMeasure? | pointYMeasure? | pointZMeasure? | numericalAxisX? | numericalAxisY? | numericalAxisZ? | chartBody? | chartFooter? | chartPalette? | chartSubTitle? | chartTitle? | fillEffects? | notes? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | threeDScatterBaselines? | legend? | reportDrills? | conditionalChartColors? | masterDetailLinks?)*>
<!ATTLIST threeDScatterChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	threeDViewingAngle (standard | thickStandard | lowThin | near1x3 | tallFar | groupView | nearView | seriesView | groupStretch | seriesStretch | birdsEye | lowHigh | lowLow | tallDistortion | lowDistort | isometric) "standard"
	showFeelers  (true | false) "true"
	dataPointSize CDATA "6"
	pointChartDataPointShape (series | category | circle | square | house | hexagon | pentagon | diamond | triangle | downTriangle | rightTriangle | leftTriangle | skewLeftTriangle | skewRightTriangle | downSkewLeftTriangle | downSkewRightTriangle | verticalLine | horizontalLine | plus | fatPlus | star90 | pentagram | star | skewedStar | plainX | softX | fatX | spikedX | castle) "series"
	showPointValues (none | valuesAndLabels | valuesOnly) "none"
	showPointValuesForPoints (none | valuesAndLabels | valuesOnly) "none"
	showPointValuesForPointClusters (none | valuesAndLabels | valuesOnly) "none"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
>
<!ELEMENT gaugeChart (gauges? | indicators? | fillEffects? | notes? | chartSubTitle? | chartTitle? | chartFooter? | chartBody? | chartPalette? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | conditionalChartColors? | legend? | reportDrills? | gaugeLabels? | axisTitle? | defaultChartMeasure? | masterDetailLinks? | gaugeNumericalAxis? | gaugePalette?)*>
<!ATTLIST gaugeChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	faceColor CDATA "white"
	dialOutlineColor CDATA "black"
>
<!ELEMENT mapChart (fillEffects? | notes? | chartSubTitle? | chartTitle? | chartFooter? | chartBody? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | legend? | masterDetailLinks? | pointLayer? | regionLayer? | displayLayers? | mapDictionary? | axisTitle? | reportDrills?)*>
<!ATTLIST mapChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	refMap CDATA #REQUIRED
	noDataFeaturesSize CDATA "5"
	allowUnplottedData  (true | false) "false"
	dataLocale CDATA #IMPLIED
>
<!ELEMENT metricsChart (commonClusters? | combinationChartTypes? | defaultChartMeasure? | toleranceMeasure? | targetMeasure? | baselines? | chartBody? | chartFooter? | chartPalette? | chartSubTitle? | chartTitle? | fillEffects? | markers? | notes? | style? | conditionalStyles? | conditionalRender? | XMLAttributes? | conditionalChartColors? | legend? | numericalAxisY1? | ordinalAxis? | reportDrills? | masterDetailLinks? | targetLabel? | toleranceLabel? | diamondLabel?)*>
<!ATTLIST metricsChart
	refQuery CDATA #REQUIRED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	showTooltips  (true | false) "false"
	depth CDATA "0"
	visualAngle CDATA "45"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
	toleranceColor CDATA "green"
	targetRange CDATA "50"
	targetColor CDATA "#FFC800"
	markerColor CDATA "green"
	targetBorderColor CDATA "black"
	performancePattern (onTarget | belowTarget | aboveTarget) "onTarget"
	skew CDATA "100"
	showTargetMarker  (true | false) "true"
	targetMarkerPosition (first | center) "first"
>
<!ELEMENT ordinalAxis (style? | conditionalStyles? | axisTitle? | reportDrills? | gridlines? | minorGridlines? | axisLine? | labelControl?)*>
<!ATTLIST ordinalAxis
	categoryitemMaxCharacters CDATA "48"
	categoryitemEnableTruncation  (true | false) "true"
	truncationText CDATA "..."
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT baselines (baseline+)>
<!ELEMENT notes (note+)>
<!ELEMENT pointChartMarkers (pointChartMarker+)>
<!ATTLIST pointChartMarkers
	markerTextLocation (none | chart | legend) "chart"
>
<!ELEMENT markers (marker+)>
<!ATTLIST markers
	markerTextLocation (none | chart | legend) "chart"
>
<!ELEMENT legend (fillEffects? | style? | conditionalStyles? | legendPosition | legendTitle? | reportDrills?)+>
<!ATTLIST legend
	autoFontResizing  (true | false) "true"
	allowTruncation  (true | false) "true"
	truncationText CDATA "..."
	maxCharacters CDATA "48"
	separator CDATA " - "
	class CDATA #IMPLIED
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	showLegendValues (none | first | last | min | max) "none"
>
<!ELEMENT chartTitle (chartContents? | style? | conditionalStyles? | XMLAttributes? | propertyList? | masterDetailLinks?)*>
<!ATTLIST chartTitle
	class CDATA #IMPLIED
	refQuery CDATA #IMPLIED
>
<!ELEMENT chartSubTitle (chartContents? | style? | conditionalStyles? | XMLAttributes? | propertyList? | masterDetailLinks?)*>
<!ATTLIST chartSubTitle
	class CDATA #IMPLIED
	refQuery CDATA #IMPLIED
>
<!ELEMENT chartGradient EMPTY>
<!ATTLIST chartGradient
	direction (up | down | left | right) "down"
	fromColor CDATA "black"
	toColor CDATA "white"
>
<!ELEMENT chartColor EMPTY>
<!ATTLIST chartColor
	value CDATA "black"
>
<!ELEMENT chartPattern EMPTY>
<!ATTLIST chartPattern
	patternType (horizontal | vertical | forwardDiagonal | backwardDiagonal | cross | diagonalCross) "horizontal"
	foregroundColor CDATA "black"
	backgroundColor CDATA "white"
>
<!ELEMENT chartPalette ((chartGradient | chartColor | chartPattern)+)>
<!ELEMENT fillEffects (chartGradient | chartPattern | chartColor)>
<!ELEMENT chartNode (chartNodeMembers | chartNestedNodes?)+>
<!ELEMENT chartFooter (chartContents? | style? | conditionalStyles? | XMLAttributes? | propertyList? | masterDetailLinks?)*>
<!ATTLIST chartFooter
	class CDATA #IMPLIED
	refQuery CDATA #IMPLIED
>
<!ELEMENT chartBody (fillEffects? | style? | conditionalStyles?)*>
<!ATTLIST chartBody
	class CDATA #IMPLIED
>
<!ELEMENT progressiveBars (chartNodes?)>
<!ELEMENT gridlines EMPTY>
<!ATTLIST gridlines
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	color CDATA "black"
>
<!ELEMENT pointXMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST pointXMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT pointYMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST pointYMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT points (chartNodes)>
<!ELEMENT pointClusters (chartNodes)>
<!ELEMENT axisTitle (chartContents? | style? | conditionalStyles? | XMLAttributes? | propertyList? | masterDetailLinks?)*>
<!ATTLIST axisTitle
	class CDATA #IMPLIED
	refQuery CDATA #IMPLIED
>
<!ELEMENT conditionalChartColors (conditionalChartColor+)>
<!ATTLIST conditionalChartColors
	refVariable CDATA #REQUIRED
>
<!ELEMENT chartContents (chartTextItem*)>
<!ELEMENT commonClusters (chartNodes)>
<!ELEMENT chartNodes (chartNode+)>
<!ELEMENT radialMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST radialMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT bar (chartNodes? | connectLines?)*>
<!ATTLIST bar
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	useNumericalAxis (numericalAxisY1 | numericalAxisY2 | xAxis | yAxis) "numericalAxisY1"
	valueType (absolute | stacked | stacked100Percent) "absolute"
	showValues  (true | false) "false"
	showAbsoluteValues  (true | false) "true"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
>
<!ELEMENT line (chartNodes?)>
<!ATTLIST line
	useNumericalAxis (numericalAxisY1 | numericalAxisY2 | xAxis | yAxis) "numericalAxisY1"
	valueType (absolute | stacked | stacked100Percent) "absolute"
	showLine  (true | false) "true"
	showValues  (true | false) "false"
	showAbsoluteValues  (true | false) "true"
	dataPointSize CDATA "6"
	pointChartDataPointShape (series | category | circle | square | house | hexagon | pentagon | diamond | triangle | downTriangle | rightTriangle | leftTriangle | skewLeftTriangle | skewRightTriangle | downSkewLeftTriangle | downSkewRightTriangle | verticalLine | horizontalLine | plus | fatPlus | star90 | pentagram | star | skewedStar | plainX | softX | fatX | spikedX | castle) "series"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
>
<!ELEMENT area (chartNodes?)>
<!ATTLIST area
	useNumericalAxis (numericalAxisY1 | numericalAxisY2 | xAxis | yAxis) "numericalAxisY1"
	valueType (absolute | stacked | stacked100Percent) "absolute"
	showValues  (true | false) "false"
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	showAbsoluteValues  (true | false) "true"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
>
<!ELEMENT numericalAxisY1 (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST numericalAxisY1
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT numericalAxisY2 (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST numericalAxisY2
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT numericPosition (dataSource | mean | limit | percentile | percentAlongAxis)>
<!ELEMENT memberPosition (reportExpression)>
<!ATTLIST memberPosition
	memberOffset CDATA "0"
>
<!ELEMENT numericalAxisX (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST numericalAxisX
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT numericalAxisY (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST numericalAxisY
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT numericalAxisRadial (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST numericalAxisRadial
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT baselineLabel (chartContents)>
<!ELEMENT threeDBaselinePosition (dataSource | mean | limit | percentile | percentAlongAxis)>
<!ELEMENT markerLabel (chartContents)>
<!ELEMENT pointChartBaselines (pointChartBaseline+)>
<!ELEMENT XPosition (dataSource | mean | limit | percentile | percentAlongAxis)>
<!ELEMENT YPosition (dataSource | mean | limit | percentile | percentAlongAxis)>
<!ELEMENT defaultChartMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST defaultChartMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT connectLines EMPTY>
<!ATTLIST connectLines
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	color CDATA "black"
>
<!ELEMENT numericChartPalette (discreteChartPalette | continuousChartPalette)>
<!ATTLIST numericChartPalette
	percentValues  (true | false) "true"
>
<!ELEMENT mapChartDrills (mapChartDrill+)>
<!ELEMENT minorGridlines EMPTY>
<!ATTLIST minorGridlines
	numberOfMinorGridlines CDATA "0"
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	color CDATA "black"
>
<!ELEMENT regressionLine (regressionLinePosition | regressionLineLabel? | XMLAttributes? | style? | conditionalStyles? | propertyList?)+>
<!ATTLIST regressionLine
	numberOfRegressionLines (oneForAllData | oneForEachSeries) "oneForAllData"
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	color CDATA "black"
	showInLegend  (true | false) "true"
>
<!ELEMENT combinationChartTypes ((bar | line | area)+)>
<!ELEMENT axisLine EMPTY>
<!ATTLIST axisLine
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	color CDATA "black"
>
<!ELEMENT continuousChartPalette (continuousChartPaletteEntry+)>
<!ELEMENT chartLabel (chartContents?)>
<!ELEMENT layouts (layout | conditionalLayouts?)+>
<!ELEMENT pageSet (pageOverallGroup? | pageGroups? | detailPages | masterDetailLinks? | propertyList? | sortList?)+>
<!ATTLIST pageSet
	name CDATA #REQUIRED
	refQuery CDATA #REQUIRED
	resetPageNumber CDATA #IMPLIED
	resetPageCount CDATA #IMPLIED
>
<!ELEMENT page (pageBody | pageHeader? | pageFooter? | conditionalRender? | style? | conditionalStyles? | propertyList? | XMLAttributes?)+>
<!ATTLIST page
	name CDATA #REQUIRED
	refQuery CDATA #IMPLIED
	class CDATA #IMPLIED
	resetPageNumber CDATA #IMPLIED
	resetPageCount CDATA #IMPLIED
>
<!ELEMENT list (listColumns? | listColumnStyle? | listColumnTitleStyle? | listColumnBodyStyle? | listOverallGroup? | listGroups? | propertyList? | sortList? | listPageHeader? | listPageFooter? | masterDetailLinks? | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)*>
<!ATTLIST list
	refQuery CDATA #REQUIRED
	rowsPerPage CDATA #IMPLIED
	cellHeightBehavior (minimal | stretch) "minimal"
	showColumnTitles (hide | startOfList | startOfDetails) "startOfList"
	pageBreakText  (true | false) "true"
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	keepWithHeader CDATA #IMPLIED
	keepWithFooter CDATA #IMPLIED
>
<!ELEMENT crosstab (crosstabColumns? | crosstabRows? | crosstabFactCell? | defaultMeasure? | crosstabCorner? | crosstabIntersections? | crosstabRowNodeStyle? | crosstabColumnNodeStyle? | masterDetailLinks? | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)*>
<!ATTLIST crosstab
	refQuery CDATA #REQUIRED
	rowsPerPage CDATA #IMPLIED
	factCellStylePrecedence (rows | columns) "rows"
	pageBreakText  (true | false) "true"
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
>
<!ELEMENT repeaterTable (repeaterTableCell | repeaterGroups? | propertyList? | sortList? | masterDetailLinks? | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST repeaterTable
	refQuery CDATA #REQUIRED
	across CDATA #IMPLIED
	down CDATA #IMPLIED
	direction (lr-tb | tb-lr) "lr-tb"
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
>
<!ELEMENT repeater (contents | repeaterGroups? | propertyList? | sortList? | conditionalRender? | XMLAttributes? | masterDetailLinks?)+>
<!ATTLIST repeater
	refQuery CDATA #REQUIRED
	rowsPerPage CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
>
<!ELEMENT burst (burstGroups | burstRecipient | burstLabel?)+>
<!ATTLIST burst
	refQuery CDATA #REQUIRED
>
<!ELEMENT repeaterGroups (repeaterGroup+)>
<!ELEMENT reportVariables (reportVariable+)>
<!ELEMENT classStyles (classStyle+)>
<!ELEMENT drillBehavior (drillQueryBehavior*)>
<!ATTLIST drillBehavior
	drillUpDown  (true | false) "false"
	modelBasedDrillThru  (true | false) "false"
>
<!ELEMENT contents ((list | crosstab | repeaterTable | repeater | block | table | textItem | image | hyperlink | button | promptButton | HTMLItem | richTextItem | bookmark | fieldSet | conditionalBlocks | layoutComponentRef | CMMMap | asOfTime | (pieChart | paretoChart | scatterChart | polarChart | radarChart | progressiveChart | combinationChart | bubbleChart | threeDCombinationChart | threeDScatterChart | gaugeChart | mapChart | metricsChart) | (textBox | selectDate | selectDateTime | selectTime | selectInterval | selectValue | selectWithSearch | selectWithTree | generatedPrompt))*)>
<!ELEMENT rowCellsStyle (style? | conditionalStyles? | XMLAttributes?)*>
<!ATTLIST rowCellsStyle
	class CDATA #IMPLIED
>
<!ELEMENT factCellStyle (style? | conditionalStyles? | XMLAttributes?)*>
<!ATTLIST factCellStyle
	class CDATA #IMPLIED
>
<!ELEMENT factCell (contents? | style? | conditionalStyles? | XMLAttributes?)*>
<!ATTLIST factCell
	class CDATA #IMPLIED
>
<!ELEMENT variableValue EMPTY>
<!ATTLIST variableValue
	value CDATA #REQUIRED
>
<!ELEMENT headerPages ((page | pageSet)+)>
<!ELEMENT footerPages ((page | pageSet)+)>
<!ELEMENT listRows (listRow+)>
<!ELEMENT listHeader (listRows | rowCellsStyle? | XMLAttributes? | propertyList?)+>
<!ATTLIST listHeader
	repeatEveryPage  (true | false) "false"
>
<!ELEMENT listFooter (listRows | rowCellsStyle? | XMLAttributes? | propertyList?)+>
<!ATTLIST listFooter
	pushToBottom  (true | false) "false"
>
<!ELEMENT query (source | selection | detailFilters? | summaryFilters? | dimensionInfo? | slicer? | queryHints? | memberSetStructure?)+>
<!ATTLIST query
	name CDATA #REQUIRED
>
<!ELEMENT source (model | queryRef | sqlQuery | mdxQuery | queryOperation | joinOperation)>
<!ELEMENT selection (dataItem*)>
<!ATTLIST selection
	autoSummary  (true | false) "true"
>
<!ELEMENT dataItem (expression)>
<!ATTLIST dataItem
	name CDATA #REQUIRED
	label CDATA #IMPLIED
	aggregate (none | automatic | summarize | total | minimum | maximum | average | count | calculated | countDistinct | standardDeviation | variance | median | notApplicable) "automatic"
	rollupAggregate (none | automatic | summarize | total | minimum | maximum | average | count | calculated | countDistinct | standardDeviation | variance | median) "automatic"
	sort (ascending | descending | none) "none"
	detail (automatic | true | false) "automatic"
	naInCalcMemberContext  (true | false) "false"
>
<!ELEMENT dimensionInfo (dimensions? | factList?)*>
<!ELEMENT levels (level*)>
<!ELEMENT level (keys | attributes? | sortList? | caption? | calculatedMembers?)+>
<!ATTLIST level
	name CDATA #REQUIRED
>
<!ELEMENT levelRef EMPTY>
<!ATTLIST levelRef
	refLevel CDATA #REQUIRED
>
<!ELEMENT slicer (slicerMemberSet+)>
<!ELEMENT queryRef EMPTY>
<!ATTLIST queryRef
	refQuery CDATA #REQUIRED
>
<!ELEMENT filterExpression (#PCDATA)>
<!ATTLIST filterExpression
	xml:space (default | preserve) "preserve"
>
<!ELEMENT calculatedMembers (calculatedMember*)>
<!ELEMENT joinOperation (joinFilter | joinOperands)+>
<!ELEMENT joinOperand (queryRef?)>
<!ATTLIST joinOperand
	cardinality (1:N | 1:1 | 0:N | 0:1) "1:N"
>
<!ELEMENT calculatedMember (calculatedMembers?)>
<!ATTLIST calculatedMember
	name CDATA #REQUIRED
	refDataItem CDATA #REQUIRED
	caption CDATA #IMPLIED
>
<!ELEMENT executionOptimization EMPTY>
<!ATTLIST executionOptimization
	value (allRows | firstRow) #REQUIRED
>
<!ELEMENT mdLevel EMPTY>
<!ATTLIST mdLevel
	name CDATA #REQUIRED
>
<!ELEMENT memberSet (memberSets?)>
<!ATTLIST memberSet
	name CDATA #REQUIRED
	refDataItem CDATA #REQUIRED
>
<!ELEMENT localCache EMPTY>
<!ATTLIST localCache
	value  (true | false) #REQUIRED
>
<!ELEMENT report (modelPath? | layouts | queries? | classStyles? | burst? | reportVariables? | drillBehavior? | XMLAttributes? | upgradeInfo?)+>
<!ATTLIST report
	xmlns CDATA #IMPLIED
	expressionLocale NMTOKEN #REQUIRED
	template  (true | false) "false"
	useStyleVersion (1) #IMPLIED
>
<!ELEMENT conditionalStyleCases (conditionalStyle+)>
<!ATTLIST conditionalStyleCases
	refVariable CDATA #REQUIRED
>
<!ELEMENT conditionalStyleDefault (CSS? | dataFormat?)*>
<!ELEMENT renderFor EMPTY>
<!ATTLIST renderFor
	refVariableValue CDATA #REQUIRED
>
<!ELEMENT XMLAttribute EMPTY>
<!ATTLIST XMLAttribute
	name CDATA #REQUIRED
	value CDATA #REQUIRED
	render  (true | false) "true"
>
<!ELEMENT staticValue (#PCDATA)>
<!ATTLIST staticValue
	xml:space (default | preserve) "preserve"
>
<!ELEMENT dataItemValue EMPTY>
<!ATTLIST dataItemValue
	refDataItem CDATA #REQUIRED
>
<!ELEMENT dataItemLabel EMPTY>
<!ATTLIST dataItemLabel
	refDataItem CDATA #REQUIRED
>
<!ELEMENT memberCaption EMPTY>
<!ELEMENT cellValue EMPTY>
<!ELEMENT conditionalDataSource (staticValue | dataItemValue | reportExpression | dataItemLabel | memberCaption | cellValue)>
<!ATTLIST conditionalDataSource
	refVariableValue CDATA #REQUIRED
>
<!ELEMENT reportDrill (drillTarget? | bookmarkRef? | drillLabel)+>
<!ATTLIST reportDrill
	name CDATA #REQUIRED
>
<!ELEMENT masterDetailLink (masterContext | detailContext)+>
<!ELEMENT propertyItem EMPTY>
<!ATTLIST propertyItem
	refDataItem CDATA #REQUIRED
>
<!ELEMENT defaultRangeSelection EMPTY>
<!ATTLIST defaultRangeSelection
	min CDATA #IMPLIED
	max CDATA #IMPLIED
>
<!ELEMENT displayItem EMPTY>
<!ATTLIST displayItem
	refDataItem CDATA #REQUIRED
>
<!ELEMENT selectOption (displayValue? | conditionalDisplayValues?)*>
<!ATTLIST selectOption
	useValue CDATA #REQUIRED
>
<!ELEMENT pies (chartNodes)>
<!ELEMENT pieSlices (chartNodes)>
<!ELEMENT pieLabels (style? | conditionalStyles? | reportDrills? | XMLAttributes?)*>
<!ATTLIST pieLabels
	class CDATA #IMPLIED
	categoryitemMaxCharacters CDATA "48"
	categoryitemEnableTruncation  (true | false) "true"
	truncationText CDATA "..."
>
<!ELEMENT radialClusters (chartNodes)>
<!ELEMENT numericalAxisProgressive (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST numericalAxisProgressive
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT total (totalColumnColor? | totalColumnLabel? | propertyList?)*>
<!ELEMENT firstColumnColor (chartColor | chartGradient | chartPattern)>
<!ELEMENT positiveColumnColor (chartColor | chartGradient | chartPattern)>
<!ELEMENT negativeColumnColor (chartColor | chartGradient | chartPattern)>
<!ELEMENT cumulationLine (cumulationAxis? | cumulationLabel? | propertyList?)*>
<!ATTLIST cumulationLine
	dataPointSize CDATA "0"
	dataPointShape (circle | square | house | hexagon | pentagon | diamond | triangle | downTriangle | rightTriangle | leftTriangle | skewLeftTriangle | skewRightTriangle | downSkewLeftTriangle | downSkewRightTriangle | verticalLine | horizontalLine | plus | fatPlus | star90 | pentagram | star | skewedStar | plainX | softX | fatX | spikedX | castle) "plainX"
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	color CDATA "black"
	showValues  (true | false) "false"
	displayDataLocation (insideAtTop | outsideAtTop | insideAtBottom | outsideAtBottom | centered) "centered"
>
<!ELEMENT paretoBars (chartNodes)>
<!ELEMENT paretoBarClusters (chartNodes)>
<!ELEMENT numericalAxisPareto (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST numericalAxisPareto
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT bubbleMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST bubbleMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT angularMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST angularMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT numericalAxisAngular (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST numericalAxisAngular
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT threeDCombinationChartTypes ((threeDBar | threeDLine | threeDArea)+)>
<!ELEMENT numericalAxis (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST numericalAxis
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT threeDComboBaselines (threeDComboBaseline+)>
<!ELEMENT ordinalAxisX (style? | conditionalStyles? | axisTitle? | reportDrills? | gridlines? | minorGridlines? | axisLine? | labelControl?)*>
<!ATTLIST ordinalAxisX
	categoryitemMaxCharacters CDATA "48"
	categoryitemEnableTruncation  (true | false) "true"
	truncationText CDATA "..."
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT ordinalAxisY (style? | conditionalStyles? | axisTitle? | reportDrills? | gridlines? | minorGridlines? | axisLine? | labelControl?)*>
<!ATTLIST ordinalAxisY
	categoryitemMaxCharacters CDATA "48"
	categoryitemEnableTruncation  (true | false) "true"
	truncationText CDATA "..."
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT pointZMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST pointZMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT numericalAxisZ (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST numericalAxisZ
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT threeDScatterBaselines (threeDScatterBaseline+)>
<!ELEMENT gauges (chartNodes)>
<!ELEMENT indicators (chartNodes)>
<!ELEMENT gaugeLabels (style? | conditionalStyles? | reportDrills? | XMLAttributes?)*>
<!ATTLIST gaugeLabels
	class CDATA #IMPLIED
	categoryitemMaxCharacters CDATA "48"
	categoryitemEnableTruncation  (true | false) "true"
	truncationText CDATA "..."
>
<!ELEMENT gaugeNumericalAxis (gridlines? | minorGridlines? | style? | conditionalStyles?)*>
<!ATTLIST gaugeNumericalAxis
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT gaugePalette (continuousChartPalette | discreteGaugePalette)>
<!ATTLIST gaugePalette
	percentValues  (true | false) "true"
>
<!ELEMENT pointLayer (pointSizeMeasure? | pointMeasure? | numericChartPalette? | style? | conditionalStyles? | mapChartDrills? | fillEffects? | mapPointLocation? | conditionalChartColors? | pointSizeLegendTitle? | pointColorLegendTitle?)*>
<!ATTLIST pointLayer
	refLayer CDATA #REQUIRED
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	showNoDataFeatures  (true | false) "true"
	showDataRangeInLegend  (true | false) "true"
	showValues  (true | false) "false"
	showLabels  (true | false) "true"
>
<!ELEMENT regionLayer (regionMeasure? | regionColorLegendTitle? | mapRegionLocation? | numericChartPalette? | style? | conditionalStyles? | mapChartDrills? | fillEffects? | conditionalChartColors?)*>
<!ATTLIST regionLayer
	refLayer CDATA #REQUIRED
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	showNoDataFeatures  (true | false) "true"
	showDataRangeInLegend  (true | false) "true"
	showValues  (true | false) "false"
	showLabels  (true | false) "true"
>
<!ELEMENT displayLayers (displayLayer+)>
<!ELEMENT mapDictionary (mapDictionaryEntry+)>
<!ELEMENT toleranceMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST toleranceMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT targetMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST targetMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT targetLabel (chartContents? | propertyList?)*>
<!ELEMENT toleranceLabel (chartContents? | propertyList?)*>
<!ELEMENT diamondLabel (chartContents? | propertyList?)*>
<!ELEMENT labelControl (autoLabelControl | manualLabelControl)>
<!ELEMENT baseline (baselinePosition? | baselineLabel? | XMLAttributes? | style? | conditionalStyles? | propertyList? | masterDetailLinks?)*>
<!ATTLIST baseline
	refQuery CDATA #IMPLIED
	showInLegend  (true | false) "true"
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	color CDATA "black"
>
<!ELEMENT note (XMLAttributes? | noteContent? | noteBorder?)*>
<!ATTLIST note
	bottom CDATA "0"
	left CDATA "0"
	height CDATA "35"
	width CDATA "150"
>
<!ELEMENT pointChartMarker (markerLabel? | XMLAttributes? | pointChartMarkerPosition | style? | conditionalStyles? | propertyList? | masterDetailLinks?)+>
<!ATTLIST pointChartMarker
	dataPointSize CDATA "0"
	dataPointShape (circle | square | house | hexagon | pentagon | diamond | triangle | downTriangle | rightTriangle | leftTriangle | skewLeftTriangle | skewRightTriangle | downSkewLeftTriangle | downSkewRightTriangle | verticalLine | horizontalLine | plus | fatPlus | star90 | pentagram | star | skewedStar | plainX | softX | fatX | spikedX | castle) "plainX"
	dataPointColor CDATA "black"
	refQuery CDATA #IMPLIED
>
<!ELEMENT marker (markerPosition | markerLabel? | XMLAttributes? | style? | conditionalStyles? | propertyList? | masterDetailLinks?)+>
<!ATTLIST marker
	dataPointColor CDATA "black"
	dataPointSize CDATA "0"
	dataPointShape (circle | square | house | hexagon | pentagon | diamond | triangle | downTriangle | rightTriangle | leftTriangle | skewLeftTriangle | skewRightTriangle | downSkewLeftTriangle | downSkewRightTriangle | verticalLine | horizontalLine | plus | fatPlus | star90 | pentagram | star | skewedStar | plainX | softX | fatX | spikedX | castle) "plainX"
	refQuery CDATA #IMPLIED
>
<!ELEMENT legendPosition (relativePosition | absolutePosition)>
<!ELEMENT legendTitle (chartContents? | style? | conditionalStyles? | XMLAttributes? | propertyList? | masterDetailLinks?)*>
<!ATTLIST legendTitle
	class CDATA #IMPLIED
	refQuery CDATA #IMPLIED
>
<!ELEMENT chartNodeMembers (chartNodeMember+)>
<!ELEMENT chartNestedNodes (chartNode+)>
<!ELEMENT conditionalChartColor (chartColor | chartGradient | chartPattern)>
<!ATTLIST conditionalChartColor
	refVariableValue CDATA #REQUIRED
>
<!ELEMENT chartTextItem (conditionalDataSources? | dataSource | style? | conditionalStyles? | XMLAttributes?)+>
<!ELEMENT mean EMPTY>
<!ATTLIST mean
	numberOfStddev CDATA "0"
	comboIndex CDATA "0"
>
<!ELEMENT limit EMPTY>
<!ATTLIST limit
	limitType (min | max) "max"
	comboIndex CDATA "0"
>
<!ELEMENT percentile EMPTY>
<!ATTLIST percentile
	percentile CDATA "50"
	comboIndex CDATA "0"
>
<!ELEMENT percentAlongAxis EMPTY>
<!ATTLIST percentAlongAxis
	percentAlongAxis CDATA "50"
>
<!ELEMENT pointChartBaseline (baselineLabel? | conditionalRender? | pointChartBaselinePosition | XMLAttributes? | masterDetailLinks? | propertyList?)+>
<!ATTLIST pointChartBaseline
	refQuery CDATA #IMPLIED
	showInLegend  (true | false) "true"
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	color CDATA "black"
	pointChartAxis (xAxis | yAxis | radialAxis | angularAxis) "xAxis"
>
<!ELEMENT discreteChartPalette (discreteChartPaletteEntry+)>
<!ELEMENT mapChartDrill (reportDrills? | XMLAttributes?)*>
<!ATTLIST mapChartDrill
	featureId CDATA #REQUIRED
>
<!ELEMENT regressionLinePosition (commonLog | naturalLog | linear | exponential | polynomialFit)>
<!ELEMENT regressionLineLabel (chartContents?)>
<!ELEMENT continuousChartPaletteEntry EMPTY>
<!ATTLIST continuousChartPaletteEntry
	paletteEntryValue CDATA #REQUIRED
	paletteEntryColor CDATA "black"
>
<!ELEMENT layout (reportPages? | promptPages? | defaultDataFormats? | pageSetup?)*>
<!ELEMENT conditionalLayouts (conditionalLayout+)>
<!ATTLIST conditionalLayouts
	refVariable CDATA #REQUIRED
>
<!ELEMENT pageOverallGroup (headerPages? | footerPages? | propertyList?)*>
<!ELEMENT pageGroups (pageGroup+)>
<!ELEMENT detailPages ((page | pageSet)*)>
<!ELEMENT pageBody (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST pageBody
	class CDATA #IMPLIED
>
<!ELEMENT pageHeader (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST pageHeader
	class CDATA #IMPLIED
>
<!ELEMENT pageFooter (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST pageFooter
	class CDATA #IMPLIED
>
<!ELEMENT listColumns (listColumn+)>
<!ELEMENT listColumnStyle (style? | conditionalStyles? | XMLAttributes?)*>
<!ATTLIST listColumnStyle
	class CDATA #IMPLIED
>
<!ELEMENT listColumnTitleStyle (style? | conditionalStyles? | XMLAttributes?)*>
<!ATTLIST listColumnTitleStyle
	class CDATA #IMPLIED
>
<!ELEMENT listColumnBodyStyle (style? | conditionalStyles? | XMLAttributes?)*>
<!ATTLIST listColumnBodyStyle
	class CDATA #IMPLIED
>
<!ELEMENT listOverallGroup (listHeader? | listFooter? | propertyList?)*>
<!ELEMENT listGroups (listGroup+)>
<!ELEMENT listPageHeader (listRows | rowCellsStyle? | XMLAttributes?)+>
<!ATTLIST listPageHeader
	afterOverallHeader  (true | false) "false"
>
<!ELEMENT listPageFooter (listRows | rowCellsStyle? | XMLAttributes?)+>
<!ATTLIST listPageFooter
	pushToBottom  (true | false) "false"
>
<!ELEMENT crosstabColumns (crosstabNode+)>
<!ELEMENT crosstabRows (crosstabNode+)>
<!ELEMENT crosstabFactCell (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST crosstabFactCell
	class CDATA #IMPLIED
>
<!ELEMENT crosstabCorner (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST crosstabCorner
	class CDATA #IMPLIED
>
<!ELEMENT crosstabIntersections (crosstabIntersection+)>
<!ELEMENT crosstabRowNodeStyle (style? | conditionalStyles? | XMLAttributes?)*>
<!ATTLIST crosstabRowNodeStyle
	class CDATA #IMPLIED
>
<!ELEMENT crosstabColumnNodeStyle (style? | conditionalStyles? | XMLAttributes?)*>
<!ATTLIST crosstabColumnNodeStyle
	class CDATA #IMPLIED
>
<!ELEMENT repeaterTableCell (contents | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST repeaterTableCell
	class CDATA #IMPLIED
>
<!ELEMENT burstGroups (burstGroup+)>
<!ELEMENT burstRecipient (masterDetailLinks?)>
<!ATTLIST burstRecipient
	refQuery CDATA #REQUIRED
	refDataItem CDATA #REQUIRED
	type (auto | email | directory) "auto"
>
<!ELEMENT burstLabel EMPTY>
<!ATTLIST burstLabel
	refDataItem CDATA #REQUIRED
>
<!ELEMENT repeaterGroup (sortList? | propertyList?)*>
<!ATTLIST repeaterGroup
	refDataItem CDATA #REQUIRED
>
<!ELEMENT reportVariable (reportExpression | variableValues?)+>
<!ATTLIST reportVariable
	name CDATA #REQUIRED
	type (string | boolean | locale) #REQUIRED
>
<!ELEMENT classStyle (CSS?)>
<!ATTLIST classStyle
	name CDATA #REQUIRED
	label CDATA #IMPLIED
	description CDATA #IMPLIED
>
<!ELEMENT drillQueryBehavior (drillDataItemBehavior+)>
<!ATTLIST drillQueryBehavior
	refQuery CDATA #REQUIRED
>
<!ELEMENT block (contents | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST block
	class CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT table (tableRows | conditionalStyles? | XMLAttributes? | style? | conditionalRender?)+>
<!ATTLIST table
	class CDATA #IMPLIED
	name CDATA #IMPLIED
	repeatOnPageBreak  (true | false) "true"
>
<!ELEMENT textItem (dataSource | conditionalDataSources? | reportDrills? | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST textItem
	maxCharacters CDATA #IMPLIED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT image (dataSource | conditionalDataSources? | reportDrills? | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST image
	class CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT hyperlink (contents | dataSource | conditionalDataSources? | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST hyperlink
	class CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT button (contents | dataSource | conditionalDataSources? | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST button
	class CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT promptButton (contents | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST promptButton
	type (back | cancel | next | finish | reprompt) #IMPLIED
	class CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT HTMLItem (dataSource | conditionalDataSources? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST HTMLItem
	name CDATA #IMPLIED
	description CDATA #IMPLIED
>
<!ELEMENT richTextItem (dataSource | conditionalDataSources? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST richTextItem
	name CDATA #IMPLIED
	description CDATA #IMPLIED
>
<!ELEMENT bookmark (dataSource | XMLAttributes?)+>
<!ELEMENT fieldSet (contents | fieldSetCaption | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)+>
<!ATTLIST fieldSet
	showCaption (left | right | center | hide) "left"
	class CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT conditionalBlocks (conditionalBlockCases? | conditionalBlockDefault | XMLAttributes?)+>
<!ATTLIST conditionalBlocks
	name CDATA #IMPLIED
>
<!ELEMENT layoutComponentRef (reportPath? | layoutComponent? | layoutComponentOverrides? | XMLAttributes?)*>
<!ATTLIST layoutComponentRef
	refLayoutElement CDATA #REQUIRED
>
<!ELEMENT CMMMap EMPTY>
<!ATTLIST CMMMap
	cmmID CDATA #REQUIRED
	description CDATA #IMPLIED
>
<!ELEMENT asOfTime (reportExpression)>
<!ELEMENT textBox (style? | defaultSelections? | conditionalStyles? | conditionalRender? | XMLAttributes?)*>
<!ATTLIST textBox
	parameter CDATA #IMPLIED
	required  (true | false) "true"
	hideAdornments  (true | false) "false"
	multiSelect  (true | false) "false"
	range  (true | false) "false"
	allowIsMissing  (true | false) "false"
	numbersOnly  (true | false) "false"
	multiLine  (true | false) "false"
	hideText  (true | false) "false"
	name CDATA #IMPLIED
	showThousandSeparator  (true | false) "false"
>
<!ELEMENT selectDate (style? | conditionalStyles? | defaultSelections? | conditionalRender? | XMLAttributes?)*>
<!ATTLIST selectDate
	parameter CDATA #IMPLIED
	required  (true | false) "true"
	hideAdornments  (true | false) "false"
	calendar (Gregorian | Imperial) "Gregorian"
	firstDate CDATA #IMPLIED
	lastDate CDATA #IMPLIED
	allowIsMissing  (true | false) "false"
	multiSelect  (true | false) "false"
	range  (true | false) "false"
	selectDateUI (calendar | editBox) "calendar"
	name CDATA #IMPLIED
>
<!ELEMENT selectDateTime (style? | conditionalStyles? | defaultSelections? | conditionalRender? | XMLAttributes?)*>
<!ATTLIST selectDateTime
	parameter CDATA #IMPLIED
	required  (true | false) "true"
	hideAdornments  (true | false) "false"
	allowIsMissing  (true | false) "false"
	multiSelect  (true | false) "false"
	range  (true | false) "false"
	clockMode (static | live) "static"
	showSeconds  (true | false) "false"
	showMilliseconds  (true | false) "false"
	calendar (Gregorian | Imperial) "Gregorian"
	firstDate CDATA #IMPLIED
	lastDate CDATA #IMPLIED
	selectDateTimeUI (calendar | editBox) "calendar"
	name CDATA #IMPLIED
>
<!ELEMENT selectTime (style? | conditionalStyles? | defaultSelections? | conditionalRender? | XMLAttributes?)*>
<!ATTLIST selectTime
	clockMode (static | live) "static"
	showSeconds  (true | false) "false"
	showMilliseconds  (true | false) "false"
	parameter CDATA #IMPLIED
	required  (true | false) "true"
	hideAdornments  (true | false) "false"
	allowIsMissing  (true | false) "false"
	multiSelect  (true | false) "false"
	range  (true | false) "false"
	selectTimeUI (clock | editBox) "clock"
	name CDATA #IMPLIED
>
<!ELEMENT selectInterval (style? | conditionalStyles? | defaultSelections? | conditionalRender? | XMLAttributes?)*>
<!ATTLIST selectInterval
	parameter CDATA #IMPLIED
	required  (true | false) "true"
	hideAdornments  (true | false) "false"
	allowIsMissing  (true | false) "false"
	multiSelect  (true | false) "false"
	range  (true | false) "false"
	showSeconds  (true | false) "false"
	showMilliseconds  (true | false) "false"
	name CDATA #IMPLIED
>
<!ELEMENT selectValue (style? | conditionalStyles? | defaultSelections? | useItem? | selectOptions? | conditionalRender? | sortList? | XMLAttributes?)*>
<!ATTLIST selectValue
	parameter CDATA #IMPLIED
	required  (true | false) "true"
	hideAdornments  (true | false) "false"
	rowsPerPage CDATA "5000"
	cascadeOn CDATA #IMPLIED
	allowIsMissing  (true | false) "false"
	multiSelect  (true | false) "false"
	range  (true | false) "false"
	selectValueUI (dropdown | listBox | radioGroup | checkboxGroup) "dropdown"
	name CDATA #IMPLIED
	autoSubmit  (true | false) "false"
	refQuery CDATA #IMPLIED
	prePopulateIfParentOptional  (true | false) "false"
>
<!ELEMENT selectWithSearch (style? | conditionalStyles? | useItem? | conditionalRender? | XMLAttributes? | sortList? | selectOptions?)*>
<!ATTLIST selectWithSearch
	parameter CDATA #IMPLIED
	required  (true | false) "true"
	hideAdornments  (true | false) "false"
	rowsPerPage CDATA "5000"
	cascadeOn CDATA #IMPLIED
	allowIsMissing  (true | false) "false"
	multiSelect  (true | false) "false"
	name CDATA #IMPLIED
	refQuery CDATA #IMPLIED
	caseInsensitiveIsDefault  (true | false) "true"
>
<!ELEMENT selectWithTree (selectWithTreeItem? | style? | conditionalStyles? | conditionalRender? | sortList? | XMLAttributes? | defaultTreeSelections?)*>
<!ATTLIST selectWithTree
	forceSelectionAtLowestLevel  (true | false) "false"
	selectTreeUI (normalTree | compressedTree | dropdown | cascadingPrompt) "normalTree"
	parameter CDATA #IMPLIED
	required  (true | false) "true"
	hideAdornments  (true | false) "false"
	rowsPerPage CDATA "5000"
	cascadeOn CDATA #IMPLIED
	multiSelect  (true | false) "false"
	name CDATA #IMPLIED
	refQuery CDATA #IMPLIED
	prePopulateIfParentOptional  (true | false) "false"
	prePopulateLevels CDATA "1"
>
<!ELEMENT generatedPrompt (XMLAttributes?)>
<!ATTLIST generatedPrompt
	parameter CDATA #IMPLIED
	required  (true | false) "true"
	hideAdornments  (true | false) "false"
>
<!ELEMENT listRow (rowCells | rowCellsStyle? | XMLAttributes?)+>
<!ELEMENT detailFilters (detailFilter+)>
<!ELEMENT summaryFilters (summaryFilter+)>
<!ELEMENT queryHints (avoidZeroDiv? | autoSort? | executionOptimization? | queryProcessing? | outerJoinAllowed? | crossProductAllowed? | suppress? | rollupProcessing? | maxRowsRetrieved? | maxTablesPerQuery? | maxQueryExecutionTime? | maxTextBlobCharacters? | useSQLWithClause? | localCache? | useV4Interpretation?)*>
<!ELEMENT memberSetStructure (memberSet*)>
<!ELEMENT model EMPTY>
<!ELEMENT sqlQuery (sqlText | mdProjectedItems?)+>
<!ATTLIST sqlQuery
	name CDATA #REQUIRED
	dataSource CDATA #REQUIRED
	type (cogSQL | native | passThrough) "native"
>
<!ELEMENT mdxQuery (mdxText | mdDimensionalInfo?)+>
<!ATTLIST mdxQuery
	name CDATA #REQUIRED
	dataSource CDATA #REQUIRED
	catalog CDATA #IMPLIED
>
<!ELEMENT queryOperation (queryRefs | projectionList)+>
<!ATTLIST queryOperation
	name CDATA #REQUIRED
	setOperation (UNION | INTERSECT | EXCEPT) "UNION"
	duplicates (remove | preserve) "remove"
>
<!ELEMENT expression (#PCDATA)>
<!ATTLIST expression
	xml:space (default | preserve) "preserve"
>
<!ELEMENT dimensions (dimension+)>
<!ELEMENT factList (fact+)>
<!ELEMENT keys (key*)>
<!ELEMENT attributes (attribute*)>
<!ELEMENT caption EMPTY>
<!ATTLIST caption
	refDataItem CDATA #REQUIRED
>
<!ELEMENT slicerMemberSet (#PCDATA)>
<!ATTLIST slicerMemberSet
	xml:space (default | preserve) "preserve"
>
<!ELEMENT joinFilter (filterExpression)>
<!ELEMENT joinOperands (joinOperand,joinOperand)>
<!ELEMENT memberSets (memberSet+)>
<!ELEMENT queries (query)+>
<!ELEMENT upgradeInfo (upgradedSpec? | upgradeMessages?)*>
<!ELEMENT conditionalStyle (CSS? | dataFormat?)*>
<!ATTLIST conditionalStyle
	refVariableValue CDATA #REQUIRED
>
<!ELEMENT drillTarget (reportPath | drillLinks?)+>
<!ATTLIST drillTarget
	showInNewWindow  (true | false) "false"
	method (edit | execute | view) #IMPLIED
	outputFormat (CSV | HTML | HTMLFragment | PDF | XHTML | XLS | XLWA | singleXLS | XML) #IMPLIED
>
<!ELEMENT bookmarkRef (dataSource)>
<!ELEMENT drillLabel (dataSource | conditionalDataSources?)+>
<!ELEMENT masterContext (dataItemContext)>
<!ELEMENT detailContext (dataItemContext | parameterContext)>
<!ELEMENT displayValue (#PCDATA)>
<!ATTLIST displayValue
	xml:space (default | preserve) "preserve"
>
<!ELEMENT conditionalDisplayValues (conditionalDisplayValue+)>
<!ELEMENT totalColumnColor (chartPattern | chartColor | chartGradient)>
<!ELEMENT totalColumnLabel (chartContents?)>
<!ELEMENT cumulationAxis (axisTitle? | gridlines? | minorGridlines? | axisLine? | style? | conditionalStyles?)*>
<!ATTLIST cumulationAxis
	min CDATA #IMPLIED
	max CDATA #IMPLIED
	scaleInterval CDATA #IMPLIED
	scale (linear | log) "linear"
	sameRangeAllInstances  (true | false) "true"
	includeZeroForAutoScale  (true | false) "true"
	showAxisLabels  (true | false) "true"
	class CDATA #IMPLIED
>
<!ELEMENT cumulationLabel (chartContents?)>
<!ELEMENT threeDBar (chartNodes?)>
<!ATTLIST threeDBar
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	showValues  (true | false) "false"
>
<!ELEMENT threeDLine (chartNodes?)>
<!ATTLIST threeDLine
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	showValues  (true | false) "false"
>
<!ELEMENT threeDArea (chartNodes?)>
<!ATTLIST threeDArea
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	showValues  (true | false) "false"
>
<!ELEMENT threeDComboBaseline (threeDBaselinePosition? | style? | conditionalStyles? | propertyList? | masterDetailLinks?)>
<!ATTLIST threeDComboBaseline
	refQuery CDATA #IMPLIED
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	color CDATA "black"
>
<!ELEMENT threeDScatterBaseline (threeDBaselinePosition? | style? | conditionalStyles? | propertyList? | masterDetailLinks?)>
<!ATTLIST threeDScatterBaseline
	refQuery CDATA #IMPLIED
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	weight CDATA "0"
	color CDATA "black"
>
<!ELEMENT discreteGaugePalette (discreteGaugePaletteEntry+)>
<!ELEMENT pointSizeMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST pointSizeMeasure
	minPointSize CDATA "5"
	maxPointSize CDATA "30"
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT pointMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST pointMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT mapPointLocation (mapPointRefinementLocation?)>
<!ATTLIST mapPointLocation
	refDataItem CDATA #REQUIRED
>
<!ELEMENT pointSizeLegendTitle (chartContents? | masterDetailLinks? | propertyList?)*>
<!ATTLIST pointSizeLegendTitle
	refQuery CDATA #IMPLIED
>
<!ELEMENT pointColorLegendTitle (chartContents? | masterDetailLinks? | propertyList?)*>
<!ATTLIST pointColorLegendTitle
	refQuery CDATA #IMPLIED
>
<!ELEMENT regionMeasure (style? | conditionalStyles? | chartLabel?)*>
<!ATTLIST regionMeasure
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT regionColorLegendTitle (chartContents? | masterDetailLinks? | propertyList?)*>
<!ATTLIST regionColorLegendTitle
	refQuery CDATA #IMPLIED
>
<!ELEMENT mapRegionLocation (mapRegionRefinementLocation?)>
<!ATTLIST mapRegionLocation
	refDataItem CDATA #REQUIRED
>
<!ELEMENT displayLayer (style? | conditionalStyles? | fillEffects?)*>
<!ATTLIST displayLayer
	refLayer CDATA #REQUIRED
	showBorders  (true | false) "false"
	borderColor CDATA "black"
	showLabels  (true | false) "false"
>
<!ELEMENT mapDictionaryEntry EMPTY>
<!ATTLIST mapDictionaryEntry
	dataName CDATA #REQUIRED
	locale CDATA #IMPLIED
	mapName CDATA #REQUIRED
	mapRefinementName CDATA #IMPLIED
>
<!ELEMENT autoLabelControl EMPTY>
<!ATTLIST autoLabelControl
	allowRotate45DegreesForCategoryLabels  (true | false) "true"
	allowRotate90DegreesForCategoryLabels  (true | false) "true"
	allowStaggerForCategoryLabels  (true | false) "true"
	allowSkipForCategoryLabels  (true | false) "true"
>
<!ELEMENT manualLabelControl EMPTY>
<!ATTLIST manualLabelControl
	displayFrequency CDATA "5"
	firstLabel CDATA "1"
>
<!ELEMENT baselinePosition (numericPosition | memberPosition)>
<!ATTLIST baselinePosition
	useNumericalAxis (numericalAxisY1 | numericalAxisY2 | xAxis | yAxis) "numericalAxisY1"
>
<!ELEMENT noteContent (chartContents | style? | masterDetailLinks? | conditionalStyles? | propertyList?)+>
<!ATTLIST noteContent
	class CDATA #IMPLIED
	refQuery CDATA #IMPLIED
>
<!ELEMENT noteBorder EMPTY>
<!ATTLIST noteBorder
	lineStyle (solid | dash | dot | dotdash | dashdotdot | mediumdash | shortdash | longdash | longdot | dotdotdot | dashdashdot | dashdashdotdot | longdashdot | longdashdotdot | longdashdashdot | longdashdashdotdot) "solid"
	color CDATA "black"
>
<!ELEMENT pointChartMarkerPosition (XPosition | YPosition)+>
<!ELEMENT markerPosition (memberPosition | numericPosition)+>
<!ATTLIST markerPosition
	useNumericalAxis (numericalAxisY1 | numericalAxisY2 | xAxis | yAxis) "numericalAxisY1"
>
<!ELEMENT relativePosition EMPTY>
<!ATTLIST relativePosition
	legendPosition (right | left | bottom) "right"
>
<!ELEMENT absolutePosition EMPTY>
<!ATTLIST absolutePosition
	topLegendPosition CDATA "50"
	leftLegendPosition CDATA "0"
	rightLegendPosition CDATA "50"
	bottomLegendPosition CDATA "0"
>
<!ELEMENT chartNodeMember (chartContents? | chartLabel? | propertyList? | sortList? | XMLAttributes? | style?)*>
<!ATTLIST chartNodeMember
	refDataItem CDATA #REQUIRED
	solveOrder CDATA "0"
>
<!ELEMENT pointChartBaselinePosition (dataSource | mean | limit | percentile | percentAlongAxis)>
<!ELEMENT discreteChartPaletteEntry (chartGradient | chartPattern | chartColor)>
<!ATTLIST discreteChartPaletteEntry
	paletteValue CDATA #IMPLIED
>
<!ELEMENT commonLog EMPTY>
<!ELEMENT naturalLog EMPTY>
<!ELEMENT linear EMPTY>
<!ELEMENT exponential EMPTY>
<!ELEMENT polynomialFit EMPTY>
<!ATTLIST polynomialFit
	exponent CDATA "1"
>
<!ELEMENT reportPages ((page | pageSet)+)>
<!ELEMENT promptPages (page+)>
<!ELEMENT defaultDataFormats (numberFormat? | percentFormat? | currencyFormat? | dateFormat? | dateTimeFormat? | timeFormat? | intervalFormat? | stringFormat?)*>
<!ELEMENT pageSetup (namedPaper | customPaper)?>
<!ATTLIST pageSetup
	orientation (portrait | landscape) "portrait"
>
<!ELEMENT conditionalLayout (reportPages? | promptPages? | defaultDataFormats? | pageSetup?)*>
<!ATTLIST conditionalLayout
	refVariableValue CDATA #REQUIRED
>
<!ELEMENT pageGroup (headerPages? | footerPages? | propertyList? | sortList?)*>
<!ATTLIST pageGroup
	refDataItem CDATA #REQUIRED
>
<!ELEMENT listColumn (listColumnTitle | listColumnBody | style? | conditionalStyles? | conditionalRender? | XMLAttributes?)+>
<!ELEMENT listGroup (listHeader? | listFooter? | propertyList? | sortList? | XMLAttributes?)*>
<!ATTLIST listGroup
	refDataItem CDATA #REQUIRED
>
<!ELEMENT crosstabNode (crosstabNodeMembers | crosstabNestedNodes?)+>
<!ELEMENT crosstabIntersection (contents? | style? | conditionalStyles? | XMLAttributes?)*>
<!ATTLIST crosstabIntersection
	row CDATA #REQUIRED
	column CDATA #REQUIRED
	class CDATA #IMPLIED
>
<!ELEMENT burstGroup (sortList?)>
<!ATTLIST burstGroup
	refDataItem CDATA #REQUIRED
>
<!ELEMENT variableValues ((variableValue | variableValueGroup)+)>
<!ELEMENT drillDataItemBehavior (drillUpBehavior? | drillDownBehavior?)*>
<!ATTLIST drillDataItemBehavior
	refDataItem CDATA #REQUIRED
	disableDrillUp  (true | false) "false"
	disableDrillDown  (true | false) "false"
>
<!ELEMENT tableRows (tableRow+)>
<!ELEMENT fieldSetCaption (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ELEMENT conditionalBlockCases (conditionalBlock+)>
<!ATTLIST conditionalBlockCases
	refVariable CDATA #REQUIRED
>
<!ELEMENT conditionalBlockDefault (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST conditionalBlockDefault
	class CDATA #IMPLIED
>
<!ELEMENT layoutComponent (list | crosstab | repeaterTable | repeater | block | table | textItem | image | hyperlink | button | promptButton | HTMLItem | richTextItem | bookmark | fieldSet | conditionalBlocks | layoutComponentRef | CMMMap | asOfTime | (pieChart | paretoChart | scatterChart | polarChart | radarChart | progressiveChart | combinationChart | bubbleChart | threeDCombinationChart | threeDScatterChart | gaugeChart | mapChart | metricsChart) | (textBox | selectDate | selectDateTime | selectTime | selectInterval | selectValue | selectWithSearch | selectWithTree | generatedPrompt))>
<!ELEMENT layoutComponentOverrides (layoutComponentOverride+)>
<!ELEMENT selectWithTreeItem EMPTY>
<!ATTLIST selectWithTreeItem
	refDataItem CDATA #REQUIRED
>
<!ELEMENT defaultTreeSelections (defaultTreeSelection+)>
<!ELEMENT rowCells (rowCell+)>
<!ELEMENT detailFilter (filterExpression)>
<!ATTLIST detailFilter
	use (required | optional | prohibited) "required"
	postAutoAggregation  (true | false) "false"
>
<!ELEMENT summaryFilter (filterExpression | summaryFilterLevels?)+>
<!ATTLIST summaryFilter
	use (required | optional | prohibited) "required"
>
<!ELEMENT avoidZeroDiv EMPTY>
<!ATTLIST avoidZeroDiv
	value  (true | false) #REQUIRED
>
<!ELEMENT autoSort EMPTY>
<!ATTLIST autoSort
	value (none | all | minimal) #REQUIRED
>
<!ELEMENT queryProcessing EMPTY>
<!ATTLIST queryProcessing
	value (databaseOnly | minimizeLocal) #REQUIRED
>
<!ELEMENT outerJoinAllowed EMPTY>
<!ATTLIST outerJoinAllowed
	value (allow | warn | deny) #REQUIRED
>
<!ELEMENT crossProductAllowed EMPTY>
<!ATTLIST crossProductAllowed
	value (allow | warn | deny) #REQUIRED
>
<!ELEMENT suppress EMPTY>
<!ATTLIST suppress
	value (none | nulls) #REQUIRED
>
<!ELEMENT rollupProcessing EMPTY>
<!ATTLIST rollupProcessing
	value (extended | database | local) #REQUIRED
>
<!ELEMENT maxRowsRetrieved EMPTY>
<!ATTLIST maxRowsRetrieved
	value CDATA #IMPLIED
>
<!ELEMENT maxTablesPerQuery EMPTY>
<!ATTLIST maxTablesPerQuery
	value CDATA #IMPLIED
>
<!ELEMENT maxQueryExecutionTime EMPTY>
<!ATTLIST maxQueryExecutionTime
	value CDATA #IMPLIED
>
<!ELEMENT maxTextBlobCharacters EMPTY>
<!ATTLIST maxTextBlobCharacters
	value CDATA #IMPLIED
>
<!ELEMENT useSQLWithClause EMPTY>
<!ATTLIST useSQLWithClause
	value  (true | false) #REQUIRED
>
<!ELEMENT useV4Interpretation EMPTY>
<!ATTLIST useV4Interpretation
	value  (true | false) "false"
>
<!ELEMENT sqlText (#PCDATA)>
<!ATTLIST sqlText
	xml:space (default | preserve) "preserve"
>
<!ELEMENT mdProjectedItems (mdProjectedItem*)>
<!ELEMENT mdxText (#PCDATA)>
<!ATTLIST mdxText
	xml:space (default | preserve) "preserve"
>
<!ELEMENT mdDimensionalInfo (mdDimensions? | mdFacts?)*>
<!ELEMENT queryRefs (queryRef*)>
<!ELEMENT projectionList (queryItem*)>
<!ATTLIST projectionList
	autoGenerated  (true | false) "false"
>
<!ELEMENT dimension (levels? | hierarchies?)*>
<!ATTLIST dimension
	name CDATA #REQUIRED
>
<!ELEMENT fact (scope?)>
<!ATTLIST fact
	name CDATA #REQUIRED
	refDataItem CDATA #REQUIRED
>
<!ELEMENT key EMPTY>
<!ATTLIST key
	name CDATA #REQUIRED
	refDataItem CDATA #REQUIRED
>
<!ELEMENT attribute EMPTY>
<!ATTLIST attribute
	name CDATA #REQUIRED
	refDataItem CDATA #REQUIRED
>
<!ELEMENT upgradedSpec (#PCDATA)>
<!ATTLIST upgradedSpec
	xml:space (default | preserve) "preserve"
>
<!ELEMENT upgradeMessages (upgradeMessage+)>
<!ELEMENT drillLinks (drillLink+)>
<!ELEMENT conditionalDisplayValue (#PCDATA)>
<!ATTLIST conditionalDisplayValue
	xml:space (default | preserve) "preserve"
	refVariableValue CDATA #REQUIRED
>
<!ELEMENT discreteGaugePaletteEntry EMPTY>
<!ATTLIST discreteGaugePaletteEntry
	discreteGaugePaletteValue CDATA #IMPLIED
	discreteGaugePaletteColor CDATA "black"
>
<!ELEMENT mapPointRefinementLocation EMPTY>
<!ATTLIST mapPointRefinementLocation
	refDataItem CDATA #REQUIRED
>
<!ELEMENT mapRegionRefinementLocation EMPTY>
<!ATTLIST mapRegionRefinementLocation
	refDataItem CDATA #REQUIRED
>
<!ELEMENT namedPaper EMPTY>
<!ATTLIST namedPaper
	name CDATA #REQUIRED
>
<!ELEMENT customPaper EMPTY>
<!ATTLIST customPaper
	width CDATA #REQUIRED
	height CDATA #REQUIRED
	unit (in | cm) "in"
>
<!ELEMENT listColumnTitle (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST listColumnTitle
	class CDATA #IMPLIED
>
<!ELEMENT listColumnBody (contents | listColumnRowSpan? | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST listColumnBody
	class CDATA #IMPLIED
>
<!ELEMENT crosstabNodeMembers ((crosstabNodeMember | crosstabSpacer)+)>
<!ELEMENT crosstabNestedNodes (crosstabNode+)>
<!ELEMENT variableValueGroup (variableValue+)>
<!ATTLIST variableValueGroup
	value CDATA #REQUIRED
>
<!ELEMENT drillUpBehavior (drillSimpleType | drillChange | drillChangeToDepthBasedExpression | drillAncestor)>
<!ELEMENT drillDownBehavior (drillSimpleType | drillChange | drillChangeToDepthBasedExpression | drillAncestor)>
<!ELEMENT tableRow (tableCells | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST tableRow
	class CDATA #IMPLIED
>
<!ELEMENT conditionalBlock (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST conditionalBlock
	refVariableValue CDATA #REQUIRED
	class CDATA #IMPLIED
>
<!ELEMENT layoutComponentOverride (list | crosstab | repeaterTable | repeater | block | table | textItem | image | hyperlink | button | promptButton | HTMLItem | richTextItem | bookmark | fieldSet | conditionalBlocks | layoutComponentRef | CMMMap | asOfTime | (pieChart | paretoChart | scatterChart | polarChart | radarChart | progressiveChart | combinationChart | bubbleChart | threeDCombinationChart | threeDScatterChart | gaugeChart | mapChart | metricsChart) | (textBox | selectDate | selectDateTime | selectTime | selectInterval | selectValue | selectWithSearch | selectWithTree | generatedPrompt))?>
<!ATTLIST layoutComponentOverride
	refLayoutElement CDATA #REQUIRED
>
<!ELEMENT defaultTreeSelection (#PCDATA)>
<!ELEMENT rowCell (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST rowCell
	colSpan CDATA "1"
	class CDATA #IMPLIED
>
<!ELEMENT summaryFilterLevels (summaryFilterLevel+)>
<!ELEMENT mdProjectedItem EMPTY>
<!ATTLIST mdProjectedItem
	name CDATA #REQUIRED
>
<!ELEMENT mdDimensions (mdDimension+)>
<!ELEMENT mdFacts (mdFact+)>
<!ELEMENT queryItem EMPTY>
<!ATTLIST queryItem
	name CDATA #REQUIRED
>
<!ELEMENT hierarchies ((levelHierarchy | memberHierarchy)*)>
<!ELEMENT scope ((scopeDimension | scopeHierarchy | scopeLevel)+)>
<!ELEMENT upgradeMessage (#PCDATA)>
<!ATTLIST upgradeMessage
	type (error | warning | info) #REQUIRED
>
<!ELEMENT drillLink (drillSourceContext? | drillTargetContext)+>
<!ELEMENT listColumnRowSpan EMPTY>
<!ATTLIST listColumnRowSpan
	refDataItem CDATA #IMPLIED
>
<!ELEMENT crosstabNodeMember (contents | style? | conditionalStyles? | factCellStyle? | factCell? | propertyList? | sortList? | XMLAttributes?)+>
<!ATTLIST crosstabNodeMember
	refDataItem CDATA #REQUIRED
	indentationLength CDATA #IMPLIED
	indentationStartLevel CDATA #IMPLIED
	class CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	keepWithNext CDATA #IMPLIED
	keepWithPrevious CDATA #IMPLIED
	solveOrder CDATA "0"
	edgeLocation CDATA #IMPLIED
>
<!ELEMENT crosstabSpacer (contents | style? | conditionalStyles? | factCell? | XMLAttributes?)+>
<!ATTLIST crosstabSpacer
	class CDATA #IMPLIED
	repeatEveryPage  (true | false) "false"
	keepWithNext CDATA #IMPLIED
	keepWithPrevious CDATA #IMPLIED
	edgeLocation CDATA #IMPLIED
>
<!ELEMENT drillSimpleType EMPTY>
<!ATTLIST drillSimpleType
	type (preserve | emptySet | replaceItem | replaceExpression) #REQUIRED
>
<!ELEMENT drillChange EMPTY>
<!ATTLIST drillChange
	refDataItem CDATA #REQUIRED
>
<!ELEMENT drillChangeToDepthBasedExpression EMPTY>
<!ATTLIST drillChangeToDepthBasedExpression
	depthOffset CDATA #REQUIRED
>
<!ELEMENT drillAncestor EMPTY>
<!ATTLIST drillAncestor
	depthOffset CDATA #REQUIRED
>
<!ELEMENT tableCells (tableCell+)>
<!ELEMENT summaryFilterLevel EMPTY>
<!ATTLIST summaryFilterLevel
	refDataItem CDATA #REQUIRED
>
<!ELEMENT mdDimension (mdHierarchy)>
<!ATTLIST mdDimension
	name CDATA #REQUIRED
>
<!ELEMENT mdFact EMPTY>
<!ATTLIST mdFact
	name CDATA #REQUIRED
>
<!ELEMENT levelHierarchy (levelRef*)>
<!ATTLIST levelHierarchy
	name CDATA #REQUIRED
>
<!ELEMENT memberHierarchy (calculatedMembers?)?>
<!ATTLIST memberHierarchy
	name CDATA #REQUIRED
>
<!ELEMENT scopeDimension EMPTY>
<!ATTLIST scopeDimension
	refDimension CDATA #REQUIRED
>
<!ELEMENT scopeHierarchy EMPTY>
<!ATTLIST scopeHierarchy
	refHierarchy CDATA #REQUIRED
>
<!ELEMENT scopeLevel EMPTY>
<!ATTLIST scopeLevel
	refLevel CDATA #REQUIRED
>
<!ELEMENT drillSourceContext (dataItemContext | parameterContext)>
<!ELEMENT drillTargetContext (parameterContext)>
<!ELEMENT tableCell (contents | style? | conditionalStyles? | XMLAttributes?)+>
<!ATTLIST tableCell
	class CDATA #IMPLIED
	colSpan CDATA "1"
>
<!ELEMENT mdHierarchy (mdLevel*)>
<!ATTLIST mdHierarchy
	name CDATA #REQUIRED
>
